@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/tópicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root{
    --cor-de-fundo:#EBECEE; 
    --branco:#ffffff; 
    --laranja:#EB9B00;
    --azul-degrade:linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal:"Poppins";
    --azul:rgba(0, 47, 82, 1);
    --fonte-secundaria:"Josefin Sans";
    --preto:rgba(0, 0, 0, 1);
    --cinza: rgba(71, 70, 70, 1);
    --cinza-secundário: rgba(133, 133, 133, 1);


    

}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}


